model {
  faster_rcnn {
    num_classes: 1
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 480
        max_dimension: 1920
      }
    }
    feature_extractor {
      type: "faster_rcnn_inception_v2"
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        height_stride: 16
        width_stride: 16
        scales: 0.5
        scales: 1.0
        scales: 2.0
        scales: 3.0
        aspect_ratios: 0.800000011921
        aspect_ratios: 1.0
        aspect_ratios: 1.29999995232
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.00999999977648
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.677777707577
    first_stage_max_proposals: 300
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        use_dropout: false
        dropout_keep_probability: 1.0
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.25
        iou_threshold: 0.5
        max_detections_per_class: 150
        max_total_detections: 150
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 2.0
    second_stage_classification_loss_weight: 1.0
  }
}
train_config {
  batch_size: 1
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    random_crop_image {
      min_object_covered: 0.0
      min_aspect_ratio: 0.75
      max_aspect_ratio: 3.0
      min_area: 0.75
      max_area: 1.0
      overlap_thresh: 0.0
    }
  }
  optimizer {
    momentum_optimizer {
      learning_rate {
        manual_step_learning_rate {
          initial_learning_rate: 0.000199999994948
          schedule {
            step: 10000
            learning_rate: 0.000199999994948
          }
          schedule {
            step: 30000
            learning_rate: 1.99999994948e-05
          }
          schedule {
            step: 80000
            learning_rate: 1.99999999495e-06
          }
        }
      }
      momentum_optimizer_value: 0.899999976158
    }
    use_moving_average: false
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "/home/zhudelong/dataset/iros_ocr-rcnn_2.0/ssdlite_mobilenet_v2_coco/models/faster_rcnn_inception_v2_backbone/backbone/model.ckpt-20437"
  from_detection_checkpoint: true
  num_steps: 200000
}
train_input_reader {
  label_map_path: "/home/zhudelong/dataset/iros_ocr-rcnn_2.0/ssdlite_mobilenet_v2_coco/data/button_label_map.pbtxt"
  tf_record_input_reader {
    input_path: "/home/zhudelong/dataset/iros_ocr-rcnn_2.0/ssdlite_mobilenet_v2_coco/data/train/button_train.record"
  }
}
eval_config {
  num_examples: 600
  visualization_export_dir: "/home/zhudelong/dataset/iros_ocr-rcnn_2.0/ssdlite_mobilenet_v2_coco/models/eval"
  metrics_set: "coco_detection_metrics"
  use_moving_averages: false
}
eval_input_reader {
  label_map_path: "/home/zhudelong/dataset/iros_ocr-rcnn_2.0/ssdlite_mobilenet_v2_coco/data/button_label_map.pbtxt"
  shuffle: false
  num_readers: 1
  tf_record_input_reader {
    input_path: "/home/zhudelong/dataset/iros_ocr-rcnn_2.0/ssdlite_mobilenet_v2_coco/data/eval/button_test.record"
  }
}
